spring:
  application:
    name: feign-consumer
server:
  port: 8081

eureka:
  client:
    service-url:
           defaultZone: http://localhost:8761/eureka

feign: #这是配置方式替换client
  httpclient:
    enabled: false
  okhttp:
    enabled: true
